leaflet(ng-show='ctrl.supported && ctrl.addressIsValid', center='ctrl.center', tiles='ctrl.tiles', markers='ctrl.markers', controls='ctrl.controls', height="200px", width="100%")
  cal-info-box(destination-address='ctrl.eventLocation', controls='ctrl.controls')
  cal-return-btn(controls='ctrl.controls', back-to-marker='ctrl.updateCenter()')