.routeInfoBox(ng-hide = "ctrl.isVisible")
  .routeInfoBoxHeader
    .titleHeader
      h4 Directions
    .infoHeader
      .routeInfo
        i.mdi.mdi-timer-sand 
        span {{ctrl.duration}}
      .routeInfo
        i.mdi.mdi-road-variant 
        span {{ctrl.distance}}
  .routeInfoBoxBody
    ul.info-list(ng-repeat="info in ctrl.instructionsList")
      li.icon-list(class="{{::info.icon}}")
      li.instruction-list {{info.instruction}}
      li.distance-list {{info.distance}}
      