@import 'components/calInfoBox/calInfoBox.less';
@import 'components/calRouteInfo/calRouteInfo.less';
@import 'components/calReturnButton/calReturnButton.less';
@import 'components/calButtonToRoute/calButtonToRoute.less';
@import 'components/calTransportMode/calTransportMode.less';
@import 'map/calMapRoute/calMapRoute.less';

.map {
  width: 100%;
  height: 100%;
}

.leaflet-top.leaflet-right {
  height: 100%;
}

.mapButtons {
  display: flex;
  flex-direction: column;
}