button.btn.btn-link.btn-icon.waves-notransition.hidden-md(ng-click="ctrl.directionsDisplay()", title="Directions")
  i.mdi.mdi-directions(ng-if='!ctrl.directions')
  i.mdi.mdi-map-marker-multiple(ng-if='ctrl.directions')